ChatBot Web Application JSON code.json
{
  "name": "ChatBot Web Application",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70618627-07ef-48c0-a65e-e1f56fdf7918",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -16
      ],
      "id": "7fc6bf9d-d31c-464a-92a0-f66f37ee001b",
      "name": "Webhook",
      "webhookId": "70618627-07ef-48c0-a65e-e1f56fdf7918"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user says:\n“{{ $json.body.prompt }}”\n\nPlease understand their question and give the most accurate, helpful response.",
        "options": {
          "systemMessage": "=You are an intelligent, helpful, and accurate AI assistant integrated into an n8n workflow and accessed through a Streamlit frontend.\nYour job is to understand the user's input, answer clearly, provide correct information, and avoid hallucinating.\nWhen users ask for code, give clean and correct code.\nWhen they ask for explanations, keep them simple and actionable.\nIf a question lacks details, ask follow-ups instead of guessing.\nAlways return responses in plain text unless the user explicitly asks for formatting.\nStore the past conversation with user and give interactions to user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        -16
      ],
      "id": "668460e6-e66a-4fce-9b6c-a589832b2461",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        128
      ],
      "id": "84c4984f-8541-420d-adda-34aba0cae3c3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pKPjb6Wkgks4DHnv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        0,
        -16
      ],
      "id": "0a10241e-4f5b-47a1-9436-ce6c739d289b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        176
      ],
      "id": "48f55ff3-6ec1-4420-b9de-4bb5a27b9503",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# ChatBot Web Application",
        "height": 432,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -128
      ],
      "typeVersion": 1,
      "id": "a2673732-db36-4a0c-9380-c1a0391aa161",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "513f855e-ec9c-4b6a-af68-ec483f26f7d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a0404f9182593b9c060b771750862c1252994be39a74ffaafe079bf2305c54f"
  },
  "id": "12BhqL1OCR7PJI09",
  "tags": []
}